.container {
	min-height: 400px;
	background-color: #ddd;
	position: relative;
}
.child1, .child2, .child3, .child4, .child5 {
	width: 100px;
	height: 100px;
	position: absolute;
}
.child1 {
	background-color: red;
}

.child2 {
	background-color: pink;
	top: 0;
	right: 0;
}

.child3 {
	background-color: yellow;
	bottom: 0;
	left: 0;
}

.child4 {
	background-color: blue;
	bottom: 0;
	right: 0;
}
.child5 {
	background-color: black;
	left: 0;
	right: 0;
	margin: 150px auto;
}